 /* Defina a imagem de fundo para o topo */
 .topo-com-fundo {
  background-image: url("img/fundo8dk.jpg"); /* Caminho da imagem de fundo */
  background-size: cover; /* Ajusta o tamanho da imagem para cobrir a seção do topo */
  background-position: center top; /* Centraliza a imagem de fundo na parte superior */
  height: 300px; /* Altura da seção superior */
  text-align: center; /* Centraliza o conteúdo na seção */
}

/* Estiliza o conteúdo na seção do topo */
.topo-com-fundo h1 {
  color: white; /* Cor do texto na seção do topo */
  font-size: 24px; /* Tamanho da fonte do título */
  margin-top: 150px; /* Espaçamento superior para o título */
}

/* Estiliza o restante da página com uma imagem */
body {
  background-image: url(img/fundokw.png);
  background-repeat: repeat;
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
}

/* Estilize a barra de navegação */
ul {
  font-family: 'Bebas Neue', sans-serif;
  list-style-type: none;
  font-size: 30px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  box-shadow:0px 5px 0px rgba(0, 0, 0, 0.1); 
  z-index: 1000;
}

/* Configurações de titulos e paragrafos */


h5{
  color: rgb(255, 251, 0); /* Cor do texto na seção do topo */
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 30px;
}
p{
  
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px 4px rgba(208, 255, 0, 0.685); 
  font-size: 26px;
  color: rgba(255, 255, 255, 0.959); 
  
}
p2 {
  color: rgb(255, 251, 0); 
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}
p3 {
  color: rgb(252, 251, 201); 
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 170%;
  content: ""; /* Adiciona um conteúdo vazio antes do texto */
  display: inline-block; /* Torna o conteúdo vazio um elemento inline-block */
  width: 95%; /* Define a largura desejada  */
  text-align: justify;
  margin-left: 3%;
  margin-top: 3%;

}
p4 {
  color: rgb(252, 251, 201); 
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 210%;
  content: ""; 
  display: inline-block; 
  width: 200%; 
  text-align: justify;
  margin-left: -600px;
  margin-top: -230px;

}

p5 {
  color: rgb(252, 251, 201); 
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 210%;
  content: ""; 
  display: inline-block; 
  width: 200%; 
  text-align: justify;
  margin-left: 10%;
  margin-top: 15%;

}

p6 {
  color: rgb(252, 251, 201); 
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 210%;
  content: ""; 
  display: inline-block; 
  width: 200%; 
  text-align: justify;
  margin-left: -600px;
  margin-top: 15%;

}

p7 {
  color: rgb(252, 251, 201); 
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  font-size: 210%;
  content: ""; 
  display: inline-block; 
  width: 200%; 
  text-align: justify;
  margin-left: -220px;
  margin-top: 15%;

}

/* Configurações de imagens da seção: Curiosidades */

.imagecuriosi1 {
  margin-top: -330px;
  margin-left: 500px;
  margin-right: -580px;
  max-height: 500%; /* A imagem não será maior do que a altura especificada */
  border: 8px solid rgb(255, 230, 0); 
  width: 120%
}

.imagecuriosi2 {
  margin-top: -460px;
  margin-left: -150%;
  margin-right: -580px;
  max-height: 500%; 
  width: 120%
}

.imagecuriosi3 {
  margin-top: -330px;
  margin-left: 470px;
  margin-right: -580px;
  max-height: 500%; 
  border: 8px solid rgb(255, 230, 0); 
  width: 130%
}

.imagecuriosi4 {
  margin-top: -55%;
  margin-left: -130%;
  margin-right: -580px;
  max-height: 500%; 
  border: 8px solid rgb(255, 230, 0); 
  width: 120%
}

/* Configurações de conteudos dentro dos cards*/

li {
  float: left;
}

li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgba(255, 0, 0, 0.377);
}


/* Configurações da barra de navegação  */
.active {
  background-color: red;
}

ul li a {
  transition: color 0.9s ease; /* Adiciona uma transição suave para a cor do texto */
}

ul li a:hover {
  color: rgb(145, 136, 22); /* Cor do texto quando o mouse está sobre o link */
}

ul li a.active {
  background-color: red; /* Cor de fundo quando o link está selecionado */
  color: yellow; /* Cor do texto quando o link está selecionado */
  transition: background-color 0.3s ease, color 0.3s ease; /* Transições suaves para cor de fundo e cor do texto */
}


/* Configurações de imagens */

.imagem-config1 {
  margin-left: 390px;
  margin-right: 195px;
  height: auto; /* Para manter a proporção da imagem */
  box-shadow: 0px 0px 0px rgba(251, 255, 0, 0.301);
}

.imagem-config2 {
  max-height: 160px; /* A imagem não será maior do que a altura especificada */
  width: auto; /* Mantém a proporção original da imagem */
}

.imagem-config3 {
  margin-left: 320px;
  margin-right: 250px;
  height: auto; /* Para manter a proporção da imagem */
  max-height: 18px; /* A imagem não será maior do que a altura especificada */
}

.imagem-config4 {
  margin-top: 60px;
  margin-left: 1480px;
  height: auto; /* Para manter a proporção da imagem */
  max-height: 40px; /* A imagem não será maior do que a altura especificada */
}

.imagem-config5 {
  max-height: 80px; /* A imagem não será maior do que a altura especificada */
  margin-left: 360px;
  height: auto; /* Para manter a proporção da imagem */
}

.imagem-config6 {
  margin-top: 10px;
  max-height: 90px; /* A imagem não será maior do que a altura especificada */
  margin-left: 280px;
  height: auto; /* Para manter a proporção da imagem */
}

.imagem-config7 {
  margin-top: 10px;
  max-height: 90px; /* A imagem não será maior do que a altura especificada */
  margin-left: 300px;
  height: auto; /* Para manter a proporção da imagem */
}

.imagem-config8 {
  margin-top: 10%;
  margin-left: 32%;
  max-height: 50px; /* A imagem não será maior do que a altura especificada */
  height: auto; /* Para manter a proporção da imagem */
}

.imagem-config9 {
  margin-top: 5%;
  max-height: 35px; /* A imagem não será maior do que a altura especificada */
  height: auto; /* Para manter a proporção da imagem */
}

.imagem-config10 {
  margin-top: -600px;
  margin-left: -310px;
  margin-right: -390px;
  max-height: 100px; /* A imagem não será maior do que a altura especificada */
  height: auto; /* Para manter a proporção da imagem */
}

.imagem-config11 {
  margin-top: -350px;
  margin-left: -610px;
  max-height: 65px; /* A imagem não será maior do que a altura especificada */
  height: auto; /* Para manter a proporção da imagem */
}

.imagem-config12 {
  margin-top: 30%;
  margin-left: 500px;
  margin-right: -500px;
  max-height: 100%; /* A imagem não será maior do que a altura especificada */
  width: 100%
}

.imagem-config13 {
  margin-top: 35%;
  margin-left: -610px;
  max-height: 65px; /* A imagem não será maior do que a altura especificada */
  height: auto; /* Para manter a proporção da imagem */
}

.imagem-config14 {
  margin-top: 50%;
  margin-left: -50px;
  margin-right: -390px;
  height: auto; /* Para manter a proporção da imagem */
}

.imagem-config15 {
  margin-top: 20%;
  margin-left: -40%;
  margin-right: -570px;
  border: 8px solid rgb(255, 230, 0); 
  width: 180%
}

/* Configurações dos cards */

.row {
  
  display: table;
  clear: both;
}

.leftcolumn {   
  margin-top: -500px;
  float: left;
  width: 75%;
}
.column {   
  margin-top: 130px;
  margin-right: 40px;
  width: 100%;
}

.card {
  background-color: rgb(212, 17, 17);
  padding: 50px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden; /* Linha para ajustar o conteúdo interno */
  max-height: 900px; /* Altura máxima  */

  /* Borda colorida ao redor do card */
  box-shadow: 10px 10px 10px rgba(53, 59, 24, 0.5); 
}
  
.card2 {
  color: rgb(255, 251, 0); /* Cor do texto na seção do topo */
  background-color: rgb(212, 17, 17);
  padding: 100px;
  margin-left: 70px;
  margin-right: 60px;
  overflow: hidden; 
  max-height: 100%; 
  border: 8px solid rgb(236, 52, 52); 
  overflow: hidden; /* Oculta o conteúdo que excede a altura máxima */
}


.card3 {
  color: rgb(255, 251, 0); 
  background-color: rgb(212, 17, 17);
  padding: 700px;
  margin-left: 15px;
  margin-right: 10px;
  overflow: hidden; 
  max-height: 100%; 
  border: 8px solid rgb(236, 52, 52); 
  overflow: hidden; 
  
}


/* Configurações de APIS */

.spotify {
  margin-left: 1480px;
  margin-right: 0px;
  box-shadow: 10px 10px 10px rgba(53, 59, 24, 0.5); 
}

.youtube{
  margin-top: 10%;
  margin-left: -55%;
  margin-right: -570px;
  border: 8px solid rgb(255, 230, 0); 
}

/* Configurações texto card1*/

.margin {
  margin-top: 20px;
}

.textkong {
  position: relative; /* Define a posição como relativa */
  top: -450px; /* Valor negativo para mover o texto para cima */
  text-align: left;
  margin-left: 50%; 
  max-width: 50%; 
  font-size: 1.5em;
  z-index: 999;
  text-align: justify;
}


/* Configurações dos slides/carrosel */

.carousel {
  width: 100%;
  overflow: hidden;
  white-space: nowrap; /* Impede que as imagens quebrem para a próxima linha */
}

.slide {
  width: 99%;
  display: inline-block;
  animation: slide 30s linear infinite;
  white-space: nowrap; /* Impede que as imagens quebrem para a próxima linha */
}

.slide img {
  width: 100%;
  height: auto;
  vertical-align: top; /* Alinhar as imagens ao topo para evitar espaço extra na parte inferior */
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }

}



/* Configurações do Rodapé */
.rodape {
  background-color: #333; /* Cor de fundo do rodapé */
  color: rgb(255, 251, 0);  /* Cor do texto do rodapé */
  text-align: center; /* Centralizar o texto no rodapé */
  padding: 10px; /* Espaçamento interno do rodapé */
  left: 0; /* Alinhar o rodapé à esquerda */
  bottom: 0; /* Alinhar o rodapé na parte inferior */
  width: 98.92%; /* Largura total do rodapé */
  font-family: 'Bebas Neue', sans-serif;
}


/* Configurações EXTRAS */

.conteudo1{
  width: 100%;
  overflow: hidden;
  white-space: nowrap; 
}

.margin-bottom {
  margin-bottom: 20px; 
}

#ultimo-card {
  margin-bottom: 30px; 
}

